<div class="bg-gray12">
  <div class="container p-4">
    <div class="flex items-center justify-between">
      <div>
        <a routerLink="">
          <img
            src="https://ntsnminh258.github.io/phimchill/assets/img/logo.png"
            alt=""
          />
        </a>
      </div>
      <div class="flex items-center gap-x-[100px]">
        <div class="flex items-center gap-x-4">
          <div *ngFor="let itemMenu of listMenu">
            <div routerLinkActive="link-active">
              <a routerLink="{{ itemMenu.path }}">{{ itemMenu.title }}</a>
            </div>
          </div>
        </div>
        <app-search></app-search>
      </div>
    </div>
  </div>
</div>
