/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "ngx-owl-carousel-o/lib/styles/scss/owl.carousel";
@import "ngx-owl-carousel-o/lib/styles/scss/owl.theme.default";

body {
  font-size: 16px;
  color: #fff;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.owl-prev,
.owl-next {
  position: absolute !important;
  top: 50% !important;
  transform: translateY(-50%) !important;
  font-size: 24px !important;
  color: white !important;
  background-color: rgba(0, 0, 0, 0.5) !important;
  padding: 10px !important;
}
.owl-next:hover,
.owl-prev:hover {
  background: #ffb35c !important;
}
.owl-prev {
  left: 10px;
}

.owl-next {
  right: 10px;
}

.owl-dot.ng-star-inserted.active span {
  background: #ff8a00 !important;
}
.link-active {
  color: #ff8a00;
}
